{
  "presets": [
    ["env", { "modules": false }],
    "stage-2", "es2015"
  ],
  "plugins": ["transform-object-rest-spread"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2", "es2015"],
      "plugins": [ "istanbul" ]
    }
  }
}
